*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    padding-inline: 2rem;
    max-width: 80rem;
}

#cover-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#cover-container img{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.253);
    /* height: 20rem !important; */
    border-radius: 10px;
}

#add-button,
#add-button-js{
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 200px;
}

#text-container{
    display: grid;
    grid: auto / auto;
    gap: 1rem;
    align-items: center;
    padding-inline: 2rem;
}

#text-container>h1{
    justify-self: center;
    font-size: clamp(24px, 2vw, 38px);
}

#text-container>p{
    font-size: clamp(15px, 2vw, 24px);
    width: clamp(200px, 80vw, 1200px);
    max-inline-size: 50rem;
    overflow-wrap: break-word;
}

#text-container>h3{
    justify-self: center;
}

/* Notes Section */
/* #saved-notes{
    padding-top: 1rem;
    max-width: 80rem;
    display: grid;
    grid: auto / auto;
    gap: 1rem;
    margin: 1rem;
}

.note-content{
    background-color: rgba(253, 237, 237, 0.329);
    padding: 1rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
}

.title-flex{
    display: flex;
    justify-content: space-between;
}

.title-flex button{
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 6rem;
    height: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.212);
}

.title-flex .button-flex{
    display: flex;
    gap: 1rem;
}

.title-flex>h1{
    inline-size: clamp(10rem, 60vw ,60rem);
    overflow-wrap: break-word;
} */


/* Comment Section */
#comment-section,
#note-section{
    padding-top: 1rem;
    width: clamp(18rem, 70vw , 80rem);
    display: grid;
    grid: auto / auto;
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 1rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.253);
    background-color: rgba(253, 237, 237, 0.329);
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
}

.comment-body .content-of-comments,
.myComment-body .content-of-myComments,
.note-body .content-of-notes{
    font-weight: normal;
    inline-size: clamp(12rem, 60vw , 70rem);
    overflow-wrap: break-word;
}

.comment-body>div,
.note-body>div,
.myComment-body>div{
    display: flex;
    justify-content: space-between;
}

.comment-body>div>img,
.myComment-body>div>div>img,
.note-body>div>div>img{
    height: 18px;    
}

#add-comment-box button,
#add-a-note-button{
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    height: 25px;
    width: 80px;
    color: white;
}

#comment-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comment-input{
    border:none;
    background-color: rgba(253, 237, 237, 0.329);
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    padding-bottom: 0.2rem;
    font-size: 15px;
    outline: none;
    width: 10rem;
    flex-grow: 1;
}

#add-a-note-button{
    width: 150px !important;
    height: 2rem;
}

#add-note-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-title,
.user-name-comment,
.user-name-myComment{
    inline-size: clamp(12rem, 60vw , 70rem);
    overflow-wrap: break-word;
}

.tooltip{
    position: absolute;
    top: 0;
    right: 100%;
    background-color: rgb(61, 58, 58);
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    z-index: 999;
}

.tooltip button{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(53, 51, 51, 0);
    width: 80px;
    border: none;
}

@media (max-width: 1240px) {
    #text-container>p{
        max-inline-size: 30rem;
    }

    #text-container{
        padding: 0;
    }
}

@media (max-width: 860px) {
    #content{
        flex-direction: column;
        padding: 0;
    }
}

@media (max-width: 680px) {
    body{
        margin-top: 130px;
    }
    #content{
        flex-direction: column;
        padding: 0;
    }
    #text-container{
        padding: 0;
    }
    .title-flex{
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    #comment-input{
        padding: 0.2rem;
    }
}