*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#book-grid{
    display: grid;
    grid: auto / auto auto auto auto;
    grid-auto-rows: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 3rem;
    max-width: 90rem;
}

#message{
    font-size: clamp(15px, 4vw, 40px);
    color: rgb(13, 11, 27);
    text-align: center;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.507);
}

#book-grid>.cell{
    /* border: 1px solid black; */
    border-radius: 20px;
    /* word-wrap: break-word; */
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    justify-self: center;
}

#text-box{
    max-inline-size: 14rem;
    overflow-wrap: break-word;
}

h3,
h4{
    margin: 0;
    padding: 0.5rem;    
}

#cover-container{
    display: flex;
    justify-content: center;
}

#cover-container > img{
    border-radius: 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.253);
}

#empty{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(20rem, 30rem);   
}

#empty img{
    width: clamp(50px, 4vw, 80px);
}

#empty p{
    font-weight: normal;
    text-transform: capitalize;
}

.ratings{
    display: flex;
    align-items: center;
    padding: 0.2rem;
    justify-content: space-between;
}

.ratings img{
    height: 30px;
}

@media (max-width: 1260px){
    #book-grid{
        grid: auto / auto auto auto;
    }
}

@media (max-width: 910px){
    #book-grid{
        grid: auto / auto auto;
    }
}

@media (max-width: 670px){
    body{
        margin-top: 130px;
    }

    #book-grid{
        grid: auto / auto;
    }
}